<section class="section has-background-light is-small">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <h2 class="is-size-2">Get the Latest Dirt!</h2>
                    <p>Want more plant tips and news? Sign up for our plant care newsletter and find out how to keep your plants happy.</p>
                    <form name="subscribe" netlify>
                        <div class="field">
                            <div class="control mb-5">
                                <input class="input" type="text" name="name" placeholder="Enter your email here">
                            </div>
                        </div>
                        <div class="control">
                            <button class="button" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>