@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Numans&family=PT+Mono&family=Source+Sans+Pro&display=swap');

$family-sans-serif: "Numans", sans-serif;
$family-serif: "Noto Serif", serif;
$family-primary: "Source Sans Pro", sans-serif;
$family-secondary: "Source Sans Pro", sans-serif;
$is-family-code: "PT Mono", monospace;

.is-family-serif {
    font-family: $family-serif;
}