{{ define "main" }}
<div class="blog-article">
<section class="hero">
    <div class="hero-body">
        <div class="container">
            {{ $hero_image := index (.Params.images) 0 }}
            {{ $taxo := "categories" }}
            <p class="mb-5">{{ range .Param $taxo }}
                {{ $categoryname := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($categoryname | urlize)) }}
                <a href="{{ .Permalink }}" class="mr-3">{{ $categoryname }}</a>
                {{ end }}
                {{ end }}<span class="is-family-serif is-italic is-size-7">Updated {{ .PublishDate.Format "January 2, 2006" }}</span></p>
            <h1 class="title is-size-1">{{ .Title }}</h1>
            <img src="{{ $hero_image }}" alt="" class="mt-3">
            {{ if .Params.referenced_image }}<p class="is-italic is-size-7 mt-2">(Image by: <a href="{{ .Params.splash_photographer.url }}">{{ .Params.splash_photographer.name }}</a>)</p>{{ end }}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
            <!-- <div class="column is-3 is-offset-1" style="background-color: #eee;">
                <aside >
                    Ads go here
                </aside>
            </div> -->
        </div>
    </div>
</section>
{{ partial "components/related-post.html" . }}
{{ partial "components/subscribe-blogsingle.html" . }}
</div>
{{ end }}