$button-background-color: $teal;
$button-text-color: $black;
$button-border-color: transparent;
$button-hover-border-color: transparent;
$button-hover-color: white;
$control-radius: 0;

.button {
    &:hover {
        background-color: darken($teal,15%);
    }
    &.is-black {
        &:hover {
            background-color: $primary !important;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
}