.card {
    .card-date {
        font-family: $family-serif;
    }
    .card-content {
        h3 a {
            color: $black;
            font-family: $family-secondary;
            font-size: 2.5rem;
        }
        .is-size-4 {
            margin-top: .75rem;
        }
    }
}