$card-shadow: none;
$card-radius: 0;

.card {
    h3 a {
        color: $black;
        font-family: $family-secondary;
        font-size: 2rem;
    }
    .is-size-4 {
        margin-top: .75rem;
    }
}

.blog-date {
    font-family: $family-serif;
}