.grid {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
    .grid-sizer, .grid-item { 
        padding: .75rem;
        width: 33%;
        @media (max-width: 1023px) {
            width: 50%;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .grid-item--width2 {
        width: 50%;
    }
}