footer {
    a {
        margin: 0 2rem;
        text-decoration: underline;
        color: $black;
        &:hover {
            color: $primary;
        }
    }
    .social-icons {
        padding-bottom: 1rem;
        a {
            margin: 0 1rem;
            img {
                height: 30px;
            }
        }
    }
}