.hero {
    h1, h2 {
        font-family: $family-secondary;
    }
    &.is-primary {
        h1, h2, h3, h4, h5, h6, p {
            color: $black;
        }
    }

    &.is-featured {
        .hero-body {
            @media (min-width: 768px) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        h2 {
            line-height: 1.2;
        }
    }
    .title {
        font-weight: 400;
    }
}