$navbar-item-hover-background-color: transparent;
$navbar-item-img-max-height: 2.5rem;
// $navbar-height: 7rem;

nav.navbar {
    @media (min-width: 1024px) {
        min-height: 7rem;
    }
    a {
        color: $black;
        &:hover {
            text-decoration: underline;
        }
    }
    .navbar-brand {
        @media (max-width: 767px) {
            justify-content: space-between;
            align-items: center;
            .navbar-burger {
                margin-left: 0;
            }
        }
    }
    .navbar-start {
        flex-grow: 1;
        justify-content: flex-end;
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a {
                font-size: 2.5rem;
            }
        }
    }
    .navbar-end {
        &.social-icons {
            @media (max-width: 767px) {
                display: flex;
                justify-content: center;
            }
        }
    }
    .navbar-menu {
        &.is-active {
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 90vh;
            }
        }
    }
}