<footer>
    <section class="section">
        <div class="container">
            <div class="has-text-centered social-icons">
                <a href="#"><img src="/uploads/tiktok-brands.svg" alt=""></a>
                <a href="#"><img src="/uploads/twitter-brands.svg" alt=""></a>
                <a href="#"><img src="/uploads/youtube-brands.svg" alt=""></a>
            </div>
            <div class="content has-text-centered">
                Copyright &copy; {{ now.Format "2006"}}-Infinity, Indoor Friends
            </div>
            <div class="has-text-centered">
                <a href="/blog">Blog</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </section>
</footer>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/masonry.js"></script>
<script src="/js/navbar.js"></script>