<footer>
    <section class="section">
        <div class="container">
            <div class="has-text-centered social-icons">
                <a href="https://www.tiktok.com/@indoorfriends" target="_blank" rel="noreferrer"><img src="/uploads/tiktok.svg" alt=""></a>
                <a href="https://www.pinterest.ca/indoorfriends" target="_blank" rel="noreferrer"><img src="/uploads/pinterest.svg" alt=""></a>
            </div>
            <div class="content has-text-centered">
                Copyright &copy; {{ now.Format "2006"}}-Infinity, Indoor Friends
            </div>
            <div class="has-text-centered">
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </section>
</footer>

<script src="/js/masonry.js"></script>
<script src="/js/navbar.js"></script>
<!-- <script>
    function goToByScroll(id){
        var element = document.querySelector("#"+id);
        element.scrollIntoView({ behavior: 'smooth', block: 'start'});
    }
</script> -->