{{ define "main" }}
<section class="hero is-featured  has-background-light">
    <div class="hero-body">
        <div class="container">
            {{ range where (where site.RegularPages "Section" "blog" ) ".Params.featured_blog" "=" true | first 1 }}
            <div class="columns is-vcentered is-flex-direction-row-reverse">
                <div class="column is-5">
                    <img src="{{ index (.Params.images) 0  }}" alt="{{ .Title }}">
                </div>
                <div class="column">
                    {{ $taxo := "categories" }}
                    {{ range .Param $taxo }}
                    {{ $categoryname := . }}
                    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($categoryname | urlize)) }}
                    <a href="{{ .Permalink }}" class="mr-1">{{ $categoryname }}</a> > 
                    {{ end }}
                    {{ end }}
                    {{ $readspeed := div .WordCount 225 }}
                    <span class="blog-date is-italic ml-1">Updated {{ .PublishDate.Format "January 2, 2006" }} 
                        <!-- &nbsp;&bull; <span class="ml-1 has-text-black">{{ add 1 $readspeed }} min read</span> -->
                    </span>
                    <h2 class="is-size-1 mb-4 mt-2">{{ .Title }}</h2>
                    <p class="mb-5">{{ .Summary }}</p>
                    <a href="{{ .Permalink }}" class="button is-black">Read More →</a>
                    {{ if .Params.referenced_image }}<p class="is-italic is-size-7 mt-6 has-text-right">Image by: <a class="has-text-black has-text-underline" href="{{ .Params.splash_photographer.url }}">{{ .Params.splash_photographer.name }}</a></p>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<div class="section categories">
    <div class="container">
        <div class="content has-text-centered mb-2">
            <p class="is-family-serif is-italic" id="anchor-blog">Browse Categories</p>
        </div>
        {{ partial "components/category-listing.html" . }}
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="content">
        <div class="grid">
            <div class="grid-sizer"></div>
            {{ range where site.RegularPages "Section" "blog" }}
            <div class="grid-item">
                {{ partial "components/blog-card.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ partial "components/subscribe.html" . }}
{{ end }}