{{ define "main" }}
<section class="hero is-featured  has-background-light">
    <div class="hero-body">
        <div class="container">
            {{ range where (where site.RegularPages "Section" "blog" ) ".Params.featured_blog" "=" true | first 1 }}
            <div class="columns is-vcentered is-flex-direction-row-reverse">
                <div class="column is-5">
                    <img src="{{ index (.Params.images) 0  }}" alt="{{ .Title }}">
                </div>
                <div class="column">
                    {{ $readspeed := div .WordCount 225 }}
                    <div class="blog-date is-italic has-text-grey-light">{{ .PublishDate.Format "Jan. 2, 2006" }} 
                        <!-- &nbsp;&bull; <span class="ml-1 has-text-black">{{ add 1 $readspeed }} min read</span> -->
                    </div>
                    <h2 class="is-size-1">{{ .Title }}</h2>
                    <p class="mb-5">{{ .Summary }}</p>
                    <a href="{{ .Permalink }}" class="button is-outlined is-black">Read More →</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<div class="section categories">
    <div class="container">
        <div class="content has-text-centered mb-2">
            <p class="is-family-serif is-italic" id="anchor-blog">Browse Categories</p>
        </div>
        {{ partial "components/category-listing.html" . }}
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="content">
        <div class="grid">
            <div class="grid-sizer"></div>
            {{ range where site.RegularPages "Section" "blog" }}
            <div class="grid-item">
                {{ partial "components/blog-card.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ partial "components/subscribe.html" . }}
{{ end }}